<footer class="footer">
    <nav class="footer__pages-nav pages-nav">
        <span class="pages-nav__link"><a href="{{ .Site.BaseURL }}">Home</a></span>
    {{- if and .IsPage (ne .Section "") -}}
        <span class="pages-nav__link"><a href="{{ .Section | absURL }}">{{ humanize .Section }}</a></span>
    {{ end }}
    {{- range site.Menus.main -}}
        <span class="pages-nav__link"><a href="{{ .Page.Permalink }}">{{ .Title }}</a></span>
    {{- end -}}
    </nav>
    <p class="footer__copyright text">{{ .Site.Copyright | safeHTML }}</p>
</footer>
