<header class="header">
    <nav class="header__links">
        {{ if .IsHome }}<h1{{ else }}<div{{ end }} class="header__link header__title">
            {{ with .Site.Params.logo -}}
            <img class="header__logo" src="{{ . }}" alt="">
            {{- end -}}
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ if .IsHome }}</h1{{ else }}</div{{ end }}>
        {{- if and .IsPage (ne .Section "") -}}
        <div class="header__link"><a href="{{ .Section | absURL }}">{{ humanize .Section }}</a></div>
        {{ end }}
    </nav>
</header>
