@import "normalize";

$content-width: 1020px;
$text-width: 700px;

$default-font: "PT Serif", medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
$header-font: "Fira Sans", Helvetica, Arial, sans-serif;

$link-color: #0027b7;

@mixin header-link() {
    a {
        color: #000;
        text-decoration: none;

        &:hover {
            color: $link-color;
        }
    }
}

html {
    font: {
        family: $default-font;
        size: 18px;
    }
}

.article {
    margin: 0 auto;

    &__header {
        align-items: center;
        background: {
            position: center center;
            repeat: no-repeat;
            size: cover;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--image {
            height: 100vh;
        }
    }

    &__title, &__timestamp, &__stats {
        background: #FFF;
        flex: 0 0 auto;
        text-align: center;
    }

    &__title {
        font: {
            family: $header-font;
            size: 3em;
            weight: 500;
        }
        padding: .4em .6em;
    }

    &__timestamp {
        padding: .6em .8em;
    }

    &__stats {
        color: #555;
        padding: .6em .8em;
    }

    &__content {
        padding-left: 2em;
        padding-right: 2em;
    }

    &__text {
        margin: 3em auto 0;
        max-width: $content-width;
    }
}

.text {

    line-height: 1.428;

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        max-width: $text-width;
    }

    a {
        border-bottom: 1px solid lighten($link-color, 50%);
        color: $link-color;
        text-decoration: none;

        &:hover {
            color: #555;
        }
    }

    img {
        max-width: 100%;
    }

    figure {
        &.left, &.right {
            max-width: calc(50% - 1em);
        }

        &.left {
            float: left;
            margin-right: 2em;
        }

        &.right {
            float: right;
            margin-left: 2em;
        }
    }
}

.navigator {
    border-top: 1px solid #555;
    box-sizing: border-box;
    display: flex;
    max-width: $content-width;
    margin: 3em auto 0;
    padding: 1em 0;

    &__direction {
        box-sizing: border-box;
        flex: 0 1 50%;
        padding: 0 .6em;

        &-name {
            color: #555;
            display: block;
            font: {
                size: .8rem;
            }
            margin-bottom: .4em;

            &:after {
                content: ":";
            }
        }

        &-link {
            display: block;
            font: {
                family: $header-font;
            }

            @include header-link();
        }

        &-summary {
            font-size: .8rem;
        }
    }
}

.footer {
    margin: 3em 2em 2em;

    &__copyright {
        font-size: .8rem;
        text-align: center;
    }
}
