{{ partial "header.html" . }}

<main class="list">
    <header class="list__header">
        <div class="list__description">Stories about</div>
        <h1 class="list__title">{{ humanize .Title }}</h1>
    </header>

    <div class="list__entries">
        {{ range .Data.Pages }}
        <article class="list__entry entry">
            <h2 class="entry__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="entry__placement"><time datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "January 2, 2006 15:04" }} {{ if isset .Params "timezone" }}{{ .Params.timezone }}{{ else }}{{ .Date.Format "MST" }}{{ end }}</time>{{ with .Params.location }} in {{ . }}{{ end }}</div>

            <div class="entry__summary text">
                {{ .Summary | plainify | safeHTML }}
            </div>
        </article>
        {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}
