{{ partial "header.html" . }}

<main>
    <article class="article">
        <header class="article__header{{ if .Params.image }} article__header--image{{ end }}"{{ with .Params.image }} style="background-image: url({{ . }});"{{ end }}>
            <h1 class="article__title">{{ .Title }}</h1>

            <div class="article__placement"><time datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "Monday, January 2, 2006 15:04" }} {{ if isset .Params "timezone" }}{{ .Params.timezone }}{{ else }}{{ .Date.Format "MST" }}{{ end }}</time>{{ with .Params.location }} in {{ . }}{{ end }}</div>

            <div class="article__stats">
                {{ .WordCount }} words, {{ .ReadingTime }} minutes to read
            </div>
        </header>

        <section class="article__text text">
            {{ .Content }}
        </section>

        <footer class="article__footer">
            {{ with .Params.tags}}
            <nav class="article__tags">
                Topics:
                <ul class="tags">
                    {{ range sort . }}<li class="tags__tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}
                </ul>
            </nav>
            {{ end }}
        </footer>
    </article>
</main>

<nav class="navigator">
    <div class="navigator__intro"><strong>Continue reading</strong> stories from {{ humanize .Section }}...</div>
    <div class="navigator__direction navigator__direction--previous">
    {{ with .PrevInSection }}
        <span class="navigator__direction-name">Previous</span>
        <span class="navigator__direction-link"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        <div class="navigator__direction-summary text">
            {{ .Summary }}
        </div>
    {{ end }}
    </div>
    <div class="navigator__direction navigator__direction--next">
    {{ with .NextInSection }}
        <span class="navigator__direction-name">Next</span>
        <span class="navigator__direction-link"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        <div class="navigator__direction-summary text">
            {{ .Summary }}
        </div>
    {{ end }}
    </div>
</nav>

{{ partial "footer.html" . }}
