{{ define "main" }}
<main>
    <article class="article">
        <header id="article-header" class="article__header{{ if .Params.image }} article__header--image{{ end }}"{{ with .Params.image }} style="background-image: url({{ . }});"{{ end }}>
            <h1 class="article__title">{{ .Title }}</h1>

            <div class="article__placement"><time datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "Monday, January 2, 2006 15:04" }} {{ if isset .Params "timezone" }}{{ .Params.timezone }}{{ else }}{{ .Date.Format "MST" }}{{ end }}</time>{{ with .Params.location }} in {{ . }}{{ end }}</div>

            <div class="article__stats">
                {{ .WordCount }} words, {{ .ReadingTime }} minutes to read
            </div>
        </header>

        <section class="article__text text">
            {{ .Content }}
        </section>

        <footer class="article__footer">
            {{ with .Params.tags}}
            <nav class="article__tags">
                Topics:&nbsp;<ul class="tags">
                    {{ range sort . }}<li class="tags__tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}
                </ul>
            </nav>
            {{ end }}
        </footer>
    </article>

    {{ if .Params.destination }}
    <section class="destination">
        {{ with .Params.destination.osm -}}
        {{ $coordinates := split . "/" }}
        {{ $bbox := print (sub (index $coordinates 1 | float) 0.03) "%2C" (sub (index $coordinates 0 | float) 0.015) "%2C" (add (index $coordinates 1 | float) 0.03) "%2C" (add (index $coordinates 0 | float) 0.015) }}
        {{ $query := print "bbox=" $bbox "&marker=" (index $coordinates 0) "%2C" (index $coordinates 1) "&layer=mapnik" }}
        <div class="destination__map">
            <div class="destination__title">Location</div>
            <iframe src="https://www.openstreetmap.org/export/embed.html?{{ $query | safeURL }}" loading="lazy"></iframe>
            <a class="destination__map-link" href="https://www.openstreetmap.org/?mlat={{ index $coordinates 0}}&amp;mlon={{ index $coordinates 1 }}">View the full map</a>
        </div>
        {{- end }}
    </section>
    {{ end }}
</main>

{{- if and .IsPage (ne .Section "") -}}
<nav class="navigator">
    <div class="navigator__title">Continue reading</div>
    <div class="navigator__intro">This story is part of the series <strong>{{ humanize .Section }}</strong>.</div>
    <div class="navigator__direction navigator__direction--previous">
    {{ with .PrevInSection }}
        <span class="navigator__direction-name">Previous</span>
        <span class="navigator__direction-link"><a href="{{ .Permalink }}#article-header">{{ .Title }}</a></span>
        <div class="navigator__direction-summary text">
            {{ .Summary }}
        </div>
    {{ end }}
    </div>
    <div class="navigator__direction navigator__direction--next">
    {{ with .NextInSection }}
        <span class="navigator__direction-name">Next</span>
        <span class="navigator__direction-link"><a href="{{ .Permalink }}#article-header">{{ .Title }}</a></span>
        <div class="navigator__direction-summary text">
            {{ .Summary }}
        </div>
    {{ end }}
    </div>
</nav>
{{ end }}
{{ end }}
