@use "sass:color";
@import "variables";
@import "mixins";

.destination {
    box-sizing: border-box;
    margin: 3em auto 0;
    max-width: $text-width;

    &__title {
        @include single-section-header();
        margin-bottom: 1em;

        @media #{$responsive-small} {
            padding-left: .5em;
        }
    }

    &__map {
        text-align: center;

        iframe {
            background: color.scale($secondary-color, $lightness: 90%);
            border: 0;
            height: 350px;
            width: 100%;
        }

        &-link {
            @include text-link();
        }
    }
}
