@use "sass:color";
@use "variables";
@use "mixins";

.destination {
    box-sizing: border-box;
    margin: 3em auto 0;
    max-width: variables.$text-width;

    &__title {
        @include mixins.single-section-header();
        margin-bottom: 1em;

        @media #{variables.$responsive-small} {
            padding-left: .5em;
        }
    }

    &__map {
        text-align: center;

        iframe {
            background: color.scale(variables.$secondary-color, $lightness: 90%);
            border: 0;
            height: 350px;
            width: 100%;
        }

        &-link {
            @include mixins.text-link();
        }
    }
}
