@use "variables";
@use "mixins";

.entry {

    &__image {
        margin-bottom: 1em;
        max-width: 100%;
        display: block;
        aspect-ratio: 1920 / 1080;

        &--placeholder {
            @include mixins.background-cover();
            opacity: .1;

            @media #{variables.$responsive-small} {
                display: none;
            }
        }
    }

    &__title {
        font-size: 1.8em;
        margin: 0;

        @include mixins.header-font();
        @include mixins.header-link();
    }

    &__placement {
        color: variables.$secondary-color;
        font-size: .9em;
        line-height: variables.$line-height;
        margin-top: .5em;
    }

    &__summary {
        margin-top: 1em;
    }
}
