.footer {
    margin: 3em 2em 2em;

    &__pages-nav {
        font-size: .9rem;
        line-height: 2;
        margin-bottom: 3em;
        text-align: center;
    }

    &__copyright {
        font-size: .8rem;
        text-align: center;
    }
}
