@use "variables";
@use "mixins";

.grid {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: variables.$grid-width;
    display: grid;
    grid-gap: variables.$grid-gap;

    @media #{variables.$responsive-small} {
        padding: variables.$content-padding;
    }

    @media #{variables.$responsive-medium-large} {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }
}
