@use "sass:color";
@use "variables";

@mixin header-link() {
    a {
        color: #000;
        text-decoration: none;

        &:hover {
            color: variables.$link-color;
        }
    }
}

@mixin text-link() {
    border-bottom: 1px solid color.adjust(variables.$link-color, $lightness: 50%);
    color: variables.$link-color;
    text-decoration: none;

    &:hover {
        color: variables.$secondary-color;
    }
}

@mixin background-cover() {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
}

@mixin image-credit() {
    bottom: 0;
    color: #FFF;
    font: {
        family: variables.$header-font;
        size: .8rem;
        weight: 400;
    }
    padding: .4em;
    position: absolute;
    right: 0;
    text-shadow: 0 0 5px #000;

    a {
        color: #FFF;
    }
}

@mixin header-font() {
    font: {
        family: variables.$header-font;
        weight: 500;
    }
}

@mixin side-floated-content() {
    @media #{variables.$responsive-medium} {
        &.left, &.right {
            max-width: calc(50% - 1em + #{variables.$content-padding});
        }
    }

    @media #{variables.$responsive-medium-large} {
        &.left {
            float: left;
            margin-right: 2em;
        }

        &.right {
            float: right;
            margin-left: 2em;
        }
    }

    @media #{variables.$responsive-large} {
        &.left, &.right {
            max-width: calc(50% - 1em);
        }
    }
}

@mixin single-section-header() {
    align-items: center;
    box-sizing: border-box;
    column-gap: .5em;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;

    &:after {
        border-top: 1px solid variables.$secondary-color;
        content: "";
        display: block;
        flex: 1 1 100%;
    }
}
