@use "variables";
@use "mixins";

.navigator {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 3em auto 0;
    max-width: variables.$content-width;
    padding: 0 0 1em;

    @media #{variables.$responsive-small} {
        flex-direction: column;
    }

    &__title {
        flex: 0 0 100%;
        @include mixins.single-section-header();

        @media #{variables.$responsive-small-medium} {
            padding-left: .5em;
        }
    }

    &__intro {
        box-sizing: border-box;
        flex: 0 0 100%;
        font-size: .9rem;
        line-height: variables.$line-height;
        padding: 1.2rem 1.2rem 0;
    }

    &__direction {
        box-sizing: border-box;
        margin: 1em 0 0;
        padding: 0 1.2rem;

        @media #{variables.$responsive-small} {
            flex: 0 1 100%;

            &--previous {
                order: 2;
            }

            &--next {
                order: 1;
            }
        }

        @media #{variables.$responsive-medium-large} {
            flex: 0 1 50%;
        }

        &-name {
            color: variables.$secondary-color;
            display: block;
            font: {
                size: .8rem;
            }
            margin-bottom: .4em;

            &:after {
                content: ":";
            }
        }

        &-link {
            display: block;
            font: {
                family: variables.$header-font;
            }

            @include mixins.header-link();
        }

        &-summary {
            font-size: .8rem;
        }
    }
}
