@import "variables";
@import "mixins";

.navigator {
    border-top: 1px solid $secondary-color;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 3em auto 0;
    max-width: $content-width;
    padding: 0 0 1em;

    @media #{$responsive-small} {
        flex-direction: column;
    }

    &__intro {
        box-sizing: border-box;
        flex: 0 0 100%;
        font-size: .9rem;
        line-height: $line-height;
        padding: 1em .6em 0;
    }

    &__direction {
        box-sizing: border-box;
        margin: 1em 0 0;
        padding: 0 .6em;

        @media #{$responsive-small} {
            flex: 0 1 100%;

            &--previous {
                order: 2;
            }

            &--next {
                order: 1;
            }
        }

        @media #{$responsive-medium-large} {
            flex: 0 1 50%;
        }

        &-name {
            color: $secondary-color;
            display: block;
            font: {
                size: .8rem;
            }
            margin-bottom: .4em;

            &:after {
                content: ":";
            }
        }

        &-link {
            display: block;
            font: {
                family: $header-font;
            }

            @include header-link();
        }

        &-summary {
            font-size: .8rem;
        }
    }
}
