@import "mixins";

.pages-nav {
    &__link {
        display: inline-block;
        white-space: nowrap;

        & + & {
            margin-left: 2em;

            &:before {
                content: "/";
                margin-left: -1.16em;
                position: absolute;
            }
        }

        a {
            @include text-link();
        }
    }
}
