@import "variables";
@import "mixins";

.section {
    @include background-cover();
    position: relative;

    &__content {
        box-sizing: border-box;
        display: grid;
        margin: 0 auto;
        max-width: 1400px;
        min-height: 100vh;

        @media #{$responsive-small} {
            padding: $content-padding;
        }

        @media #{$responsive-medium-large} {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2rem;
            padding: 2rem;
            align-items: flex-start;
        }

        @media #{$responsive-large} {
            align-items: center;
        }
    }

    &__name {
        background: #FFF;
        box-sizing: border-box;
        padding: .4em .6em;

        @media #{$responsive-small} {
            font-size: 2.4rem;
        }

        @media #{$responsive-medium} {
            font-size: 1.6rem;
            margin: 0;
        }

        @media #{$responsive-large} {
            font-size: 3.2rem;
        }

        @include header-font();
        @include header-link();
    }

    &__entries {
        display: grid;

        @media #{$responsive-medium-large} {
            grid-column-end: span 2;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
        }
    }

    &__entry {
        background: #FFF;
        box-sizing: border-box;
        padding: 1rem 1.2rem;

        &:first-child {
            @media #{$responsive-medium-large} {
                grid-column-end: span 2;
            }
        }

        &:nth-child(n + 2) {
            font-size: .8rem;

            @media #{$responsive-small} {
                margin-top: $content-padding;
            }

            @media #{$responsive-medium-large} {
                margin-top: 2rem;
            }
        }
    }

    &__link {
        background: #FFF;
        margin-top: 2rem;
        padding: 1rem 1.2rem;

        @media #{$responsive-medium-large} {
            justify-self: start;
        }

        @include header-link();

        a {
            &:after {
                content: "...";
            }
        }

    }

    &__image-credit {
        @include image-credit;
    }
}
