@import "mixins";

.tags {
    display: inline;
    list-style: none;
    padding: 0;

    &__tag {
        display: inline;

        & + & {
            &:before {
                content: ", ";
            }
        }

        a {
            @include text-link();
        }
    }
}
