@import "variables";
@import "mixins";
@import "normalize";

html {
    font: {
        family: $default-font;
        size: 18px;
    }
}

@import "page";
@import "section";
@import "entry";
@import "list";
@import "article";
@import "text";
@import "tags";
@import "navigator";
@import "header";
@import "pages-nav";
@import "footer";
@import "jumbotron";
