{{ partial "header.html" . }}

<main class="jumbotron{{ if .Site.Params.error404.image }} jumbotron--image{{ end }}"{{ with .Site.Params.error404.image }} style="background-image: url({{ . }});"{{ end }}>
    <h1 class="jumbotron__title">{{ if .Site.Params.error404.title }}{{ .Site.Params.error404.title | plainify }}{{ else }}Lost a page?{{ end }}</h1>
    <div class="jumbotron__text text">{{ if .Site.Params.error404.text }}{{ .Site.Params.error404.text | safeHTML }}{{ else }}We couldn't find anything under the address you requested. You may want to start from the <a href="{{ .Site.BaseURL }}">homepage</a> or go back and try another link.{{ end }}</div>
</main>

{{ partial "footer.html" . }}
